{% extends "base.html" %}

{% block content %}
<center>
<p> 
<p> 
<p> 
<span>
	
	
</span>
<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Florianópolis<br />
    <abbr title="Telefone">Telefone:</abbr>
    (48) 99850-3758
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:luizcarlosgili@gmail.com">luizcarlosgili@gmail.com</a><br />
 </p>
</address>
</center>


 <button type="button" class="btn btn-default">Middle</button>



{% endblock %}
