
{% load staticfiles %}

		<link rel='stylesheet' href='{% static "css_login/style.css" %}' />	
		<link rel="icon" href="https://www.gili.io/static/img/logo.png">
	
	    	<title>Floating labels example for Bootstrap</title>

	    	<!-- Bootstrap core CSS -->
	    	<link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">



	

<body>
    <form class="form-signin" method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
      <div class="text-center mb-4">
        <img class="mb-4" src="https://www.gili.io/static/img/logo.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Have an account?</h1>
        <p>Log in to comment!</a></p>
      </div>
  
	<div class="form-label-group">		  	
			{{ form.username }}
			<br>
		<label for="inputEmail">Email address</label>
	</div>
	<div class="form-label-group">	
			{{ form.password }}	 
			<br>
		<label for="inputPassword">Password</label>
	</div>
		<input type='submit' class='btn btn-lg btn-primary btn-block' value='{{ title }}' />
		<p class="mt-5 mb-3 text-muted text-center">&copy; 2018</p>
       

   </form>
 </body>





